body {
  background-color: gainsboro;
}

  /* img   {
    display: none;
  } */

.walrus-showing, .grover-near, .grover-far, #prince, #kiss-lyrics {
  display: none;
}

.clickable, .near, .far, #frog {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover, .near:hover, .far:hover {
  text-decoration: underline;
}
